<footer>
    <p>Soy el footer</p>
</footer>
<script>        
    const refreshImage = async (htmlImg) => {
        try {
            const respuesta = await fetch(htmlImg.src);
            const blob = await respuesta.blob();
            const urlImagen = URL.createObjectURL(blob);
            htmlImg.src = urlImagen;

        } catch (error) {
            console.error("Error:", error);
        }
    }
    document.addEventListener('DOMContentLoaded', () => {
        const imgs = document.querySelectorAll('.img-p-off')
        imgs.forEach((img, index) => {
            refreshImage(img)
                .then(res=>res)
        });
        
        const $btnGen = document.querySelector('#show-image');
        $btnGen.addEventListener('click',()=>{
            const $imgToGen = document.querySelector('#image-generated');
            const ID_TO_GEN_IMAGE = Math.floor(Math.random()*100) + 100;
            const URL_IMAGE = `https://picsum.photos/id/${ID_TO_GEN_IMAGE}/600/400`;
            const $inputImage = document.querySelector('#image');
            $imgToGen.src = URL_IMAGE;
            $imgToGen.style.display = 'block';
            $inputImage.value = URL_IMAGE;
            $inputImage.setAttribute('disabled',true)

        })
    })
</script>
</body>

</html>